# ========================
# CONFIGURACIÓN DEL CHATBOT IA
# ========================

# Modo del proyecto: development | production
MODE=development

# Configuración del Backend
APP_HOST=0.0.0.0
APP_PORT=9000

# Configuración de ChromaDB
CHROMA_HOST=chroma_db
CHROMA_PORT=8000
CHROMA_PERSIST_DIR=/data/vector_store

# Usar ChromaDB embebido (true para producción, false para desarrollo con docker-compose)
USE_EMBEDDED_CHROMA=false

# Clave para Modelo Gemini (opcional por ahora)
GEMINI_API_KEY=COLOCA_AQUI_TU_CLAVE

# Clave para OpenAI (lo usaremos si elegimos GPT)
GROQ_API_KEY=COLOCA_AQUI_TU_CLAVE
